.headline {
    font-weight: 700;
    font-size: 61px;
    line-height: 120%;
}

.form-container {
    display: flex;
}

.left {
    height: 551px;
    border-right: 1px solid #D1D1D1;
    padding-right: 59px;
    margin-top: 41px;
}

.span-input {
    display: flex;
    flex-direction: column;
}

.title {
    width: 65px;
    height: 25px;
    font-size: 21px;
    color: #000000;
}

.titlebox {
    width: 422px;
    height: 51px;
    font-size: 21px;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    background: #FFFFFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 13px 21px;
    gap: 10px;
    box-sizing: border-box;
    margin-top: 8px;
    outline: none;
}

.description {
    margin-top: 34px;
    width: 154px;
    height: 25px;
    font-size: 21px;
    color: #000000;
}

.descriptionbox {
    width: 422px;
    height: 119px;
    font-size: 21px;
    font-family: 'Inter';
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 18px 21px;
    gap: 10px;
    isolation: isolate;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    background: #FFFFFF;
    margin-top: 8px;
    outline: none;
}

.drop-down {
    cursor: pointer;
}

.category {
    margin-top: 34px;
    width: 93px;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: #000000;
}

.category-selection {
    width: 422px;
    height: 51px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 18px 21px;
    gap: 10px;
    isolation: isolate;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    margin-top: 8px;
}

.categorybox {
    border: none;
    width: 205px;
    height: 25px;
    font-size: 21px;
    color: #000000;
}

.dropdown-content {
    display: none;
}

.assigned {
    width: 118px;
    height: 25px;
    margin-top: 34px;
    color: #000000;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
}

.assign-selection {
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 18px 21px;
    gap: 10px;
    isolation: isolate;
    width: 422px;
    height: 51px;
    background: #FFFFFF;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
}

.assignedbox {
    border: none;
    width: 250px;
    height: 25px;
    font-size: 21px;
    color: #000000;
}

.right {
    padding-left: 59px;
    margin-top: 41px;
}

.date {
    width: 91px;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: #000000;
    white-space: nowrap;
}

.datebox {
    margin-top: 8px;
    width: 422px;
    height: 51px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 18px 21px;
    gap: 10px;
    isolation: isolate;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    background: #FFFFFF;
    cursor: pointer;
    outline: none;
}

.prio {
    margin-top: 34px;
    margin-bottom: 13px;
    width: 39px;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: #000000;
}

.btn {
    display: flex;
}

.prio-urgent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 10px;
    gap: 10px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    width: 136px;
    height: 51px;
    margin-right: 10px;
    cursor: pointer;
}

.urgent {
    width: 68px;
    font-size: 21px;
}

.prio-medium {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 10px;
    gap: 10px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    width: 130px;
    height: 51px;
    margin-right: 10px;
    cursor: pointer;
}

.medium {
    width: 80px;
    font-size: 21px;
}

.prio-low {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 10px;
    gap: 10px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    width: 136px;
    height: 51px;
    cursor: pointer;
}

.low {
    width: 42px;
    font-size: 21px;
}

.subtasks {
    margin-top: 38px;
    width: 92px;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: #000000;
}

.subtasks-box {
    width: 422px;
    height: 51px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 18px 21px;
    gap: 10px;
    isolation: isolate;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 8px;
}

.subtasks-input {
    width: 422px;
    height: 25px;
    font-size: 21px;
    border: none;
    outline: none;
}

.typesubtask {
    display: flex;
}

.img-cancelSubtask {
    padding-right: 15.76px;
    object-fit: contain;
    cursor: pointer;
}

.img-addSubtask {
    padding-left: 13px;
    object-fit: contain;
    cursor: pointer;
}

.list-subtask {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding-left: 0;
    margin-top: 18px;
}

.plus-icon {
    cursor: pointer;
}

.task-btns {
    display: flex;
    justify-content: flex-end;
    width: 963.46px;
}

.create-task-btn {
    flex-direction: row;
    padding: 18px 10px !important;
    gap: 10px;
    width: 177px;
    background: #2A3647;
    border-radius: 10px !important;
    margin-left: 24px;
}

.create-task {
    width: 123px;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
    color: #FFFFFF;
    white-space: nowrap;
}

.clear-btn {
    border-radius: 10px;
    padding: 10px 18px;
    background-color: #F6F7F9;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    color: #2A3647;
    border: 1px solid #2A3647;
    height: 51px;
    cursor: pointer;
    transition: all 100ms ease-in-out;
    white-space: nowrap;
}

.defaultButton {
    color: #2A3647 !important;
    border: 1px solid #2A3647 !important;
}

.clear-btn:hover {
    border: 2px solid #29ABE2;
    color: #29ABE2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: all 100ms ease-in-out;
}

.clear-btn:active {
    border: 1px solid black;
    color: #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.clear {
    width: 53px;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
}

.titlebox::placeholder {
    color: #D1D1D1;
    width: 114px;
    height: 25px;
    font-size: 21px; 
    font-family: 'Inter';
}

.descriptionbox::placeholder {
    width: 190px;
    height: 25px;
    color: #D1D1D1;
    font-size: 21px;
    font-family: 'Inter';
}

.subtasks-input::placeholder {
    width: 178px;
    height: 25px;
    font-size: 21px;
    color: #D1D1D1;
    font-family: 'Inter';
}

.datebox[type="date"] {
    font-size: 21px;
    color: #D1D1D1;
}

.checkbox[type="checkbox"] {
    width: 16px;
    height: 16px;
}

.subtask-item {
    margin-left: 20px;
    line-height: 120%;
}

.prio-urgent:hover {
    transform: scale(1.03676471,1.19607843);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.prio-medium:hover {
    transform: scale(1.03846154,1.19607843);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.prio-low:hover {
    transform: scale(1.03676471,1.19607843);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media (max-width: 414px) {

    body {
        -ms-overflow-style: none;
        scrollbar-width: none;
        /* for Internet Explorer, Edge */
        overflow-y: scroll;
        /* for Firefox */
    }

    body::-webkit-scrollbar {
        display: none;
        /* for Chrome, Safari, and Opera */
    }
}