.bgColor_supernova {
    background-color: #FFC701;
}

.bgColor_tabasco {
    background-color: #AF1616;
}

.bgColor_weboranget {
    background-color: #FFA800;
}

.bgColor_blazeorange {
    background-color: #FF5C00;
}

.bgColor_malachite{
    background-color: #02CF2F;
}

.bgColor_apple {
    background-color: #4E963D;
}

.bgColor_cyan_aqua {
    background-color: #32DAFF;
}

.bgColor_cerulean {
    background-color: #0190E0;
}

.bgColor_blue_ribbon {
    background-color: #0038FF;
}

.bgColor_java {
    background-color: #1FD7C1;
}

.bgColor_purple_pizzazz {
    background-color: #EE00D6;
}

.bgColor_heliotrope {
    background-color: #FC71FF;
}

.bgColor_electric_violet {
    background-color: #9327FF;
}
