.d-none {
  display: none !important;
}

.con_invisible {
  visibility: hidden;
}

.hoverEffect span:hover {
  cursor: pointer;
}

.hoverEffect {
  cursor: pointer;
}

.hoverButton:hover {
  filter: brightness(1.3);
}

.con_contacts {
  top: 100px;
  left: 232px;
  position: relative;
  /* height: 80vh; */
  width: fit-content;
  display: flex;
}

.con_contactsListContainer {
  display: flex;
  flex-direction: column;

  background-color: white;
  padding: 16px;
  height: 86vh;
  background: #ffffff;
  box-shadow: 4px 0px 6px rgba(0, 0, 0, 0.08);
  overflow: scroll;
}

.con_contactList {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  width: 357px;
  height: 100%;
  left: 48px;
  top: 2px;
  background: #ffffff;
}

.con_alphabeticHints {
  width: 282px;
  height: 40px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 120%;
  display: flex;
  align-items: center;
  color: #000000;
  flex: none;
  order: 0;
  flex-grow: 0;
  border-bottom: 1px solid rgba(238, 238, 233, 0.8);
  margin-top: 10px;
}

.con_contactListElement {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px 25px;
  gap: 35px;
  width: 357px;
  height: 79px;
  background: #ffffff;
  border-radius: 10px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.con_contactListElement:hover {
  background-color: hsla(212, 74%, 66%, 0.25);
}

.con_contactListElementLabel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  border-radius: 100%;
  border: 1px solid white;
  color: white;
}

.con_contactListElementEmail {
  width: 140px;
  height: 19px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  display: flex;
  align-items: center;
  color: #007cee;
}

.con_contactInformation {
  display: flex;
  flex-direction: column;
  /* width: 54vw; */
  /* width: calc(100% -232px -404px); */
  /* height: 86vh; */
  padding: 16px;
  background-color: #f6f7f8;
}

.con_contactInformationHeader {
  margin: 20px;
  display: flex;
  align-items: center;
}

.con_contactInformationStartHeader {
  width: 274px;
  height: 73px;
  margin-right: 30px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 61px;
  line-height: 120%;
  color: #000000;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.con_vector5 {
  width: 0px;
  height: 59px;
  border: 3px solid #29abe2;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.con_contactInformationStartHeaderTwo {
  width: 235px;
  height: 32px;
  margin-left: 30px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 120%;
  color: #2a3647;
  flex: none;
  order: 2;
  flex-grow: 0;
  white-space: nowrap;
}

.con_contactsDetails {
  top: 260px;
  left: 750px;
  right: 0px;
  bottom: 0px;
  padding: 16px;
  margin-top: 20px;
  margin-right: 20px;
}

.con_labelBigAndName {
  display: flex;
  align-items: center;
  font-size: 47px;
  margin-bottom: 48px;
}

.con_bigLabel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  border-radius: 100%;
  border: 3px solid #ffffff;
  color: white;
  margin-right: 27px;
}

.con_firstNameLastName {
  margin-left: 27px;
}

.con_editContainer {
  display: flex;
}

.con_contactInformationSpan {
  font-size: 21px; 
  margin-right: 62px;
}

.con_buttonContainer {
  position: absolute;
  right: 52px;
  bottom: 24px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.con_ContactInformationAddButton {
  box-sizing: border-box;
  display: flex;
  align-self: flex-start;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 18px 10px;
  /* margin: 20px; */
  gap: 10px;
  width: 193px;
  height: 53px;
  background: #2a3647;
  border: 1px solid #2a3647;
  border-radius: 10px;
}

.con_ContactInformationAddButtonMobile {
  position: absolute;
  top: 0px;
  right: 32px;
  box-sizing: border-box;
  display: none;
  align-self: flex-start;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 18px 10px;
  /* margin: 20px; */
  gap: 10px;
  width: 193px;
  height: 53px;
  background: #2a3647;
  border: 1px solid #2a3647;
  border-radius: 10px;
}

.con_CloseContactInformation {
  display: none;
}

.con_editOrNewPopup {
  position: absolute;
  top: -20px;
  left: -20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  padding: 16px;
  border-radius: 20px;
  height: 100%;
  width: fit-content;
  background-color: rgb(187, 187, 187);
  border: 2px solid black;
  filter: opacity(0.95);
  margin: 20px;
}

.con_editForm {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.con_editInputfield {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 60%;
  height: 40px;
  padding: 8px;
}

.con_editInputfieldName {
  background: url("../img/name.png");
  background-color: white;
  background-repeat: no-repeat;
  background-position: 220px;
  background-size: 16px 22px;
}

.con_editInputfieldPhone {
  background: url("../img/phone-30-32.png");
  background-color: white;
  background-repeat: no-repeat;
  background-position: 220px;
  background-size: 20px 20px;
}

.con_editInputfieldMail {
  background: url("../img/mail.png");
  background-color: white;
  background-repeat: no-repeat;
  background-position: 220px;
  background-size: 20px 19px;
}

@media(max-width: 1400px) {
  .con_contactInformationHeader {
    display: block !important;
    justify-content: center;
  }

  .con_labelBigAndName {
    font-size: 32px !important;
    margin-bottom: 24px !important;
  }

  .con_contactInformation {
    left: 590px !important;
  }

  .con_contactsListContainer {
    left: 190px !important;
  }

  .con_contactInformationStartHeader {
    font-size: 45px !important;
  }

  .con_editOrNewPopup {
    width: 500px !important;
  }

  .con_buttonContainer {
    left: 700px !important;
  }
}

@media(max-width: 1160px) {

  .con_labelBigAndName {
    font-size: 20px !important;
    margin-bottom: 12px !important;
  }

  .con_bigLabel {
    width: 80px !important;
    height: 80px !important;
  }

  .con_editContainer {
    font-size: 16px !important;
  }

  .con_contactInformationSpan {
    align-self: center;
    font-size: 16px !important;
  }

  .con_buttonContainer {
    left: 550px !important;
  }
}

@media(max-width: 1060px) {
  .con_buttonContainer {
    left: 450px !important;
  }

  .con_contactInformationSpan {
    margin-right: 24px !important;
  }
}

@media(max-width: 1000px) {
  .con_contactsDetails {
    margin-top: 0px !important;
  }

  .con_contactInformationHeader {
    margin: 0px !important;
  }

  .con_contactInformationStartHeaderTwo {
    margin-left: 0px !important;
  }

  .con_editContainer {
    /* display: block !important; */
    flex-direction: column;
  }

  .con_bigLabel {
    margin-right: 0px !important;
  }
}

@media(max-width: 930px) {
  .con_contactInformation {
    position: absolute;
    z-index: 1;
    left: 12px !important;
    display: none;
  }

  .con_editContainer {
    /* display: flex !important; */
    flex-direction: row !important;
  }

  .con_buttonContainer {
    display: none;
  }

  .con_CloseContactInformation {
    display: flex;
  }

  .con_ContactInformationAddButtonMobile {
    display: flex !important;
  }
}

@media(max-width: 600px) {
  .con_contacts {
    left: 0px !important;
  }

  .con_contactsListContainer {
    width: 100vw !important;
  }

  .con_contactList {
    align-self: center;
  }

  .con_contactInformation {
    width: 100vw !important;
  }

  .con_buttonContainer {
    top: 420px !important;
    left: 170px!important;
  }

  .con_ContactInformationAddButton {
    width: 150px !important;
  }

  .con_CloseContactInformation {
    width: 120px;
  }
}