.d-none {
  display: none !important;
}

.con_invisible {
  visibility: hidden;
}

.hoverEffect span:hover {
  cursor: pointer;
}

.hoverEffect {
  cursor: pointer;
}

.con_contacts {
  /* position: absolute;
  top: 200px;
  left: 232px;
  right: 0; */

  display: flex;
}

.con_contactsListContainer {
  display: flex;
  flex-direction: column;

  background-color: white;

  position: fixed;
  /* width: 453px; */
  width: 30%;
  height: 88vh;

  top: 89px;
  left: 232px;
  right: 755px;

  /* white */

  background: #ffffff;
  box-shadow: 4px 0px 6px rgba(0, 0, 0, 0.08);
  overflow: scroll;
}

.con_contactList {
  /* Contact list v1 */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;

  position: absolute;
  width: 357px;
  height: 1072px;
  left: 48px;
  top: 2px;

  /* white */

  background: #ffffff;
}

.con_alphabeticHints {
  width: 282px;
  height: 40px;

  /* Version 2/t6 */

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 120%;
  /* or 25px */

  display: flex;
  align-items: center;

  color: #000000;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  border-bottom: 1px solid rgba(238, 238, 233, 0.8);
  margin-top: 10px;
}

.con_contactListElement {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px 25px;
  gap: 35px;

  width: 357px;
  height: 79px;

  background: #ffffff;
  border-radius: 10px;

  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
}

.con_contactListElement:hover {
  background-color: hsla(212, 74%, 66%, 0.25);
}

.con_contactListElementLabel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  border-radius: 100%;
  border: 1px solid white;
  color: white;
}

.con_contactListElementEmail {
  width: 140px;
  height: 19px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  /* or 19px */

  display: flex;
  align-items: center;

  color: #007cee;
}

.con_contactInformation {
  position: absolute;
  top: 89px;
  left: 685px;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 86vh;
  background-color: #f6f7f8;
}

.con_contactInformationHeader {
  /* position: absolute;
  top: 171px;
  left: 743px;
  right: 423px;
  bottom: 780px; */
  margin: 20px;
  display: flex;
  align-items: center;
}

.con_contactInformationStartHeader {
  width: 274px;
  height: 73px;

  margin-right: 30px;

  /* Version 2/t1 */

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 61px;
  line-height: 120%;
  /* or 73px */

  color: #000000;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.con_vector5 {
  /* Vector 5 */

  width: 0px;
  height: 59px;

  border: 3px solid #29abe2;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.con_contactInformationStartHeaderTwo {
  /* Better with a team */

  width: 235px;
  height: 32px;

  margin-left: 30px;

  /* Version 2/t5 */

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 120%;
  /* or 32px */

  color: #2a3647;

  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
  white-space: nowrap;
}

.con_contactsDetails {
  /* position: absolute; */
  top: 260px;
  left: 750px;
  right: 0px;
  bottom: 0px;
  padding: 16px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.con_labelBigAndName {
  display: flex;
  align-items: center;
  font-size: 47px;
  margin-bottom: 48px;
}

.con_bigLabel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  /* font-size: 47px; */
  border-radius: 100%;
  border: 3px solid #ffffff;
  color: white;
  margin-right: 27px;
}

.con_firstNameLastName {
  margin-left: 27px;
  /* font-size: 47px; */
}

.con_editContainer {
  display: flex;
}

.con_mailAndPhoneContainer {
}

.con_buttonContainer {
  position: absolute;
  top: 520px;
  left: 480px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 20px;
}

.con_ContactInformationAddButton {
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  align-self: flex-start;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 18px 10px;
  margin: 20px;
  gap: 10px;

  /* position: absolute;
  top: 670px;
  left: 400px; */
  width: 193px;
  height: 53px;

  background: #2a3647;
  border: 1px solid #2a3647;
  border-radius: 10px;
}

.con_editOrNewPopup {
  position: absolute;
  top: -20px;
  left: -44px;
  z-index: 1;
  /* display: flex; */
  flex-direction: column;
  padding: 16px;
  border-radius: 20px;
  height: 100%;
  width: 80%;
  background-color: rgb(187, 187, 187);
  border: 2px solid black;
  filter: opacity(0.95);
  margin: 20px;
}

.con_editForm {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.con_editInputfield {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 30%;
  height: 40px;
  padding: 8px;
}

.con_editInputfieldName {
  background: url("../img/name.png");
  background-color: white;
  background-repeat: no-repeat;
  background-position: 136px;
  background-size: 16px 22px;
}

.con_editInputfieldPhone {
  background: url("../img/phone-30-32.png");
  background-color: white;
  background-repeat: no-repeat;
  background-position: 136px;
  background-size: 20px 20px;
}

.con_editInputfieldMail {
  background: url("../img/mail.png");
  background-color: white;
  background-repeat: no-repeat;
  background-position: 136px;
  background-size: 20px 19px;
}

.con_NewPopup {
  
}
