* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.global_main_format {
    display: block;
    padding-top: 160px;
    padding-left: 300px;
    /* padding-right: 20px; */
    background-color: #F6F7F9;
    width: 100vw;
    min-height: 100vh;
}

.no_sel {
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.font61-700 {
    font-weight: 700;
    font-size: 61px;
    line-height: 120%;
}

.font47-700 {
    font-weight: 700;
    font-size: 47px;
    line-height: 120%;
}

.font27-700 {
    font-weight: 700;
    font-size: 27px;
    line-height: 120%;
}

.font21-700 {
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
}

.font16-700 {
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
}

.font16-400 {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
}

.font21-400 {
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
}

.font27-400 {
    font-weight: 400;
    font-size: 27px;
    line-height: 120%;
}

.txt-cr {
    text-align: center;
}

.txt-left {
    text-align: left;
}

.d-flex {
    display: flex;
}

.fd-col {
    flex-direction: column;
}

.space-bw {
    justify-content: space-between;
}

.jc-left {
    justify-content: left;
}

.jc-right {
    justify-content: right;
}

.jc-center {
    justify-content: center;
}

.ai-left {
    align-items: left;
}

.ai-right {
    align-items: right;
}

.ai-center {
    align-items: center;
}

.pr-90 {
    padding-right: 90px;
}

.pr-20 {
    padding-right: 20px;
}

.pl-25 {
    padding-left: 25px;
}

.pb-25 {
    padding-bottom: 25px;
}

.pt-120 {
    padding-top: 120px;
}

.c-pointer {
    cursor: pointer;
}

.scale-105 {
    transform: scale(100%);
}

.scale-105:active {
    transform: scale(105%);
}

.mb-70 {
    margin-bottom: 70px;
}

.o-flow-x {
    overflow-x: hidden;
}

.wd-100p {
    width: 100%;
}

.mr-20 {
    margin-right: 20px;
}

.ml-20 {
    margin-left: 20px;
}

.ml-40 {
    margin-left: 40px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mt-25 {
    margin-top: 25px;
}

.mr-var {
    margin-right: 100px;
}

.button_dark {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    background-color: #2A3647;
    border-radius: 8px;
    border: none;
    height: 51px;
    padding: 4px 40px;
    cursor: pointer;
    transition: all 100ms ease-in-out;
    white-space: nowrap;
}

.button_dark:hover {
    background-color: #29ABE2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: all 100ms ease-in-out;
}

.button_dark:active {
    background-color: #091931;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.button_bright {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    color: #2A3647;
    background-color: white;
    border-radius: 8px;
    border: 1px solid #2A3647;
    height: 51px;
    padding: 4px 40px;
    cursor: pointer;
    transition: all 100ms ease-in-out;
    white-space: nowrap;
}

.button_bright:hover {
    border: 2px solid #29ABE2;
    color: #29ABE2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: all 100ms ease-in-out;
}

.button_bright:active {
    border: 1px solid black;
    color: #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.pos-rel {
    position: relative;
}

@media (max-width: 600px) {
    .global_main_format {
        padding-left: unset;
        padding-top: unset;
        padding-right: unset;
        padding-bottom: 100px;
    }

    .font61-700 {
        font-size: 47px;
    }
}

/* Änderungen auf der addTask Seite, die wieder zurückgenommen wurden: */

/* @media (min-width: 601px) and (max-width: 710px) {
    
    .global_main_format {
        padding-left: 265px !important;
        padding-right: 45px;
        padding-top: 110px !important;
        width: 100% !important;
    }

    .nav_top_bar {
        justify-content: unset;
    }

    .nav_top_bar span {
        font-size: 15px;
        margin-right: 16px;
        padding-left: 250px;
    }

    .nav_top_bar_profile {
        height: 20px;
    }

    .nav_top_bar_icon {
        padding-left: unset;
        padding-right: 12px;
    }
} */

/* @media (min-width: 711px) and (max-width: 880px) {
    
    .global_main_format {
        padding-left: 265px;
        padding-right: 45px;
    }

    .nav_top_bar span {
        font-size: 17px;
    }

    .nav_top_bar_profile {
        height: 35px;
    }

    .nav_top_bar_icon {
        padding-left: unset;
        padding-right: 12px;

    }
}*/

/* @media (max-width: 600px) {
    
    /* .global_main_format {
        padding-left: 32px !important;
        padding-right: 32px !important;
        padding-top: 110px !important;
        width: 100% !important;
    }

    .nav_top_bar {
        justify-content: unset;
    }

    .nav_top_bar span {
        font-size: 15px;
        margin-right: 16px;
        padding-left: 250px;
    }

    .nav_top_bar_profile {
        height: 20px;
    }

    .nav_top_bar_icon {
        padding-left: unset;
        padding-right: 12px;
    }
} */ 
