.btn_dark {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    background-color: #2A3647;
    border-radius: 8px;
    border: none;
    height: 51px;
    width: 145px;
    padding: 4px 0px;
    gap: 10px;
    cursor: pointer;
}

.btn_bright {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    color: #2A3647;
    background-color: white;
    border-radius: 8px;
    border: 1px solid #2A3647;
    height: 51px;
    width: auto;
    padding: 4px 16px;
    gap: 10px;
    cursor: pointer;
}