.login_frame {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    min-width: 100vw;
    min-height: 100vh;
    z-index: 20;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.login_access {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    background-color: white;
    padding: 35px 100px;
    animation-name: loginAccessOpacity;
    animation-duration: 2800ms;
    z-index: 8;
}

@keyframes loginAccessOpacity {
    0% {
        filter: blur(4px);
        filter: opacity(0%);
        transform: scale(0.5);
    }

    50% {
        filter: blur(4px);
        filter: opacity(0%);
        transform: scale(0.5);
    }

    75% {
        filter: blur(4px);
        filter: opacity(90%);
    }

    100% {
        filter: opacity(100%);
    }
}

.login_btns_dflex {
    display: flex;
    padding-left: 40px;
    padding-right: 40px;
    align-items: center;
    justify-content: space-between;
}

.login_blue_line {
    width: 150px;
    border: 2px solid #29ABE2;
    border-radius: 20px;
    margin-top: 30px;
    margin-bottom: 40px;
}

.login_input {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 13px 21px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    width: 422px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    margin-bottom: 40px;
}

.login_input::placeholder {
    color: #D1D1D1;
}

.login_access a {
    color: #29ABE2;
    font-weight: 400;
    line-height: 120%;
    text-decoration: none;
}

.login_secure_png {
    position: absolute;
    top: 107px;
    right: 25px;
}

.login_mail_png {
    position: absolute;
    top: 17px;
    right: 25px;
}

.login_pos_rel {
    position: relative;
}

.sign_name_png {
    position: absolute;
    top: 16px;
    right: 25px;
}

.sign_secure_png {
    position: absolute;
    top: 203px;
    right: 25px;
}

.sign_mail_png {
    position: absolute;
    top: 110px;
    right: 25px;
}

[type="checkbox"] + label {
    margin-right: 30px;
}

[type="checkbox"] {
    -webkit-appearance: none;
}

[type="checkbox"] + label::before {
    width: 18px;
    height: 18px;
    background-image: url("../img/unchecked.png");
    content: "";
    float: left;
    margin-right: 15px;
}

[type="checkbox"]:checked+label::before {
    background-image: url("../img/checked.png");
}

.login_forgot {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    margin-bottom: 40px;
}

/* .login_forgot>span {
    padding-left: 20px;
    padding-right: 45px;
} */

.btn_dark {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    background-color: #2A3647;
    border-radius: 8px;
    border: none;
    height: 51px;
    padding: 4px 40px;
    cursor: pointer;
    transition: all 100ms ease-in-out;
}

.btn_dark:hover {
    background-color: #29ABE2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: all 100ms ease-in-out;
}

.btn_dark:active {
    background-color: #091931;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn_bright {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    color: #2A3647;
    background-color: white;
    border-radius: 8px;
    border: 1px solid #2A3647;
    height: 51px;
    width: auto;
    padding: 4px 16px;
    cursor: pointer;
    transition: all 100ms ease-in-out;
}

.btn_bright:hover {
    border: 2px solid #29ABE2;
    color: #29ABE2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: all 100ms ease-in-out;
}

.btn_bright:active {
    border: 1px solid black;
    color: #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.login_logo_animation {
    position: fixed;
    width: 102px;
    height: 122px;
    top: 65px;
    left: 65px;
    z-index: 21;
    animation-name: logoSlideSmaller;
    animation-duration: 2500ms;
    animation-direction: normal;
}

@keyframes logoSlideSmaller {
    0% {
        top: 40%;
        left: 45%;
        filter: opacity(0%);
        transform: scale(2);
    }

    50% {
        top: 40%;
        left: 45%;
        filter: opacity(100%);
        transform: scale(2);
    }

    100% {
        top: 65px;
        left: 65px;
        transform: scale(1);
    }
}

.login {
    visibility: visible;
}

.animation {
    visibility: visible;
}

.login_join {
    position: fixed;
    display: flex;
    align-items: center;
    top: 60px;
    right: 90px;
    animation-name: slideSignUp;
    animation-duration: 4000ms;
}

@keyframes slideSignUp {
    0% {
        filter: opacity(0%);
        top: 60px;
        right: -90px;
    }

    70% {
        filter: opacity(0%);
    }

    100% {
        filter: opacity(100%);
    }
}

.login_join a {
    font-weight: 400;
    font-size: 21px;
    margin-right: 20px;
}

.login_btn_join {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    background-color: #2A3647;
    border-radius: 8px;
    border: none;
    height: 51px;
    width: 91px;
    padding: 4px 0px;
    cursor: pointer;
    transition: all 100ms ease-in-out;
}

.login_btn_join:hover {
    background-color: #29ABE2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: all 100ms ease-in-out;
}

.login_arrow_left {
    position: absolute;
    top: 40px;
    left: 40px;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #F6F7F8;
    overflow: hidden;
}

.pixelCon {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.pixel {
    background: rgb(238, 232, 232);
    width: 6%;
    padding-top: 6%;
    float: left;
    opacity: 0.0;
    animation: blink 4500ms infinite;
    animation-delay: 4s;
    border-radius: 10px;
}

@keyframes blink {
    0% {
        opacity: 0.0;
    }

    25% {
        opacity: 0.0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 0.0;
    }
}

.login_hidden_mobile {
    display: none;
}

@media (max-width: 1024px) {

    .pixel {
        width: 9%;
        padding-top: 9%;
    }

    body {
        -ms-overflow-style: none;
        scrollbar-width: none;
        /* for Internet Explorer, Edge */
        overflow-y: scroll;
        /* for Firefox */
    }

    body::-webkit-scrollbar {
        display: none;
        /* for Chrome, Safari, and Opera */
    }
}

@media (max-width: 600px) {

    .login_hidden_mobile {
        position: fixed;
        width: 102px;
        height: 122px;
        top: 40%;
        left: 40%;
        transform: scale(1.2);
        z-index: 21;
        display: block;
        animation-name: logo-fade;
        animation-duration: 1300ms;
        filter: opacity(0%);
        z-index: 7;
    }

    @keyframes logo-fade {
        100% {
            filter: opacity(100%);
        }
    }

    html,
    body {
        background: #D1D1D1;
        animation-name: bg-color-fade;
        animation-duration: 1600ms;
    }

    @keyframes bg-color-fade {
        0% {
            background: #2A3647;
        }

        80% {
            background: #2A3647;
        }

        100% {
            background: #D1D1D1;
        }
    }


    .pixel {
        width: 12%;
        padding-top: 12%;
    }

    .login_access {
        padding: 35px 20px 20px 20px;
        transform: scale(80%);
    }

    .login_btns_dflex {
        flex-direction: column;
        width: unset;
        justify-content: center;
    }

    .btn_dark {
        width: 180px;
        padding: 4px 0px 4px 0px;
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 20px;
    }

    .btn_bright {
        width: 180px;
        padding: 4px 0px 4px 0px;
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 20px;
    }

    .login_logo_animation {
        position: fixed;
        width: 102px;
        height: 122px;
        top: 0px;
        left: 0px;
        transform: scale(60%);
        z-index: 21;
        animation-name: logoSlideSmaller;
        animation-duration: 2500ms;
        animation-direction: normal;
        z-index: 6;
    }

    @keyframes logoSlideSmaller {
        0% {
            top: 40%;
            left: 40%;
            filter: opacity(0%);
            transform: scale(1.2);
        }

        50% {
            top: 40%;
            left: 40%;
            filter: opacity(100%);
            transform: scale(1.2);
        }

        100% {
            top: 0px;
            left: 0px;
            transform: scale(60%);
        }
    }

    .login_join {
        position: fixed;
        display: flex;
        align-items: center;
        top: unset;
        right: unset;
        bottom: -130px;
        animation-name: slideSignUp;
        animation-duration: 4000ms;
    }

    @keyframes slideSignUp {
        0% {
            filter: opacity(0%);
        }

        70% {
            filter: opacity(0%);
        }

        100% {
            filter: opacity(100%);
        }
    }

    .login_forgot {
        display: flex;
        flex-direction: column-reverse;
        align-items: unset;
        justify-content: left;
        font-size: 16px;
        margin-bottom: 40px;
    }

    .login_forgot a {
        margin-bottom: 40px;
    }

    .login_input {
        margin-bottom: 60px;
    }

    .login_secure_png {
        top: 127px;
    }

    .sign_mail_png {
        top: 130px;
    }

    .sign_secure_png {
        top: 240px;
    }
}

@media (max-width: 360px) {
    .login_access {
        transform: scale(75%);
    }
}

@media (max-height: 667px) {
    .login_join {
        bottom: -550px;
        right: unset;
        transform: scale(80%);
    }
}

@media (max-height: 512px) {
    .login_join {
        bottom: -550px;
        right: unset;
        transform: scale(80%);
    }
    .login_access {
        transform: scale(50%);
    }
}

@media (max-width: 280px) and (min-height: 653px) {
    .login_access {
        transform: scale(53%);
    }
}

@media (max-height: 667px) and (min-width: 375px) {
    .login_access {
        transform: scale(73%);
    }
}

@media (width: 1024px) and (height: 600px) {
    .login_access {
        transform: scale(95%);
    }

    .login_join {
        top: -50px;
        right: -240px;
        transform: scale(80%);
    }
}