.login_frame {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    min-width: 100vw;
    min-height: 100vh;
    /* background-color: #F6F7F8; */
    z-index: 20;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.login_access {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    background-color: white;
    padding: 35px 100px;
    animation-name: loginAccessOpacity;
    animation-duration: 2800ms;
}

@keyframes loginAccessOpacity {
    0% {
        filter: blur(4px);
        filter: opacity(0%);
        transform: scale(0.5);
    }
    50% {
        filter: blur(4px);
        filter: opacity(0%);
        transform: scale(0.5);
    }
    75% {
        filter: blur(4px);
        filter: opacity(90%);
    }
    100% {
        filter: opacity(100%);
    }
  }

.login_btns_dflex {
    display: flex;
    width: 350px;
    align-items: center;
    justify-content: space-between;
}

.login_blue_line {
    width: 150px;
    border: 2px solid #29ABE2;
    border-radius: 20px;
}

.login_input {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 13px 21px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    width: 422px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
}

.login_input::placeholder {
    color: #D1D1D1;
}

.login_access a {
    color: #29ABE2;
    font-weight: 400;
    line-height: 120%;
    text-decoration: none;
}



.login_secure_png {
    position: absolute;
    top: 107px;
    right: 25px;
}

.login_mail_png {
    position: absolute;
    top: 17px;
    right: 25px;
}

.login_pos_rel {
    position: relative;
}

.sign_name_png {
    position: absolute;
    top: 16px;
    right: 25px;
}

.sign_secure_png {
    position: absolute;
    top: 203px;
    right: 25px;
}

.sign_mail_png {
    position: absolute;
    top: 110px;
    right: 25px;
}

.login_checkbox {
    height: 16px;
    width: 16px;
    background: linear-gradient(180deg, #F9F9F9 0%, #F0F0F0 100%);
    border: 1px solid #000000;
    border-radius: 3px;
}

.login_forgot {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    font-size: 16px;
}

.login_forgot>span {
    padding-left: 20px;
    padding-right: 45px;
}

.btn_dark {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    background-color: #2A3647;
    border-radius: 8px;
    border: none;
    height: 51px;
    padding: 4px 40px;
    cursor: pointer;
    transition: all 100ms ease-in-out;
}

.btn_dark:hover {
    background-color: #29ABE2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: all 100ms ease-in-out;
}

.btn_dark:active {
    background-color: #091931;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn_bright {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    color: #2A3647;
    background-color: white;
    border-radius: 8px;
    border: 1px solid #2A3647;
    height: 51px;
    width: auto;
    padding: 4px 16px;
    cursor: pointer;
    transition: all 100ms ease-in-out;
}

.btn_bright:hover {
    border: 2px solid #29ABE2;
    color: #29ABE2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: all 100ms ease-in-out;
}

.btn_bright:active {
    border: 1px solid black;
    color: #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.login_logo_animation {
    position: fixed;
    width: 102px;
    height: 122px;
    top: 65px;
    left: 65px;
    z-index: 21;
    animation-name: logoSlideSmaller;
    animation-duration: 2500ms;
    animation-direction: normal;
}

    @keyframes logoSlideSmaller {
        0% {
            top: 40%;
            left: 45%;
            filter: opacity(0%);
            transform: scale(2);            
            
        }

        50% {
            top: 40%;
            left: 45%;
            filter: opacity(100%);
            transform: scale(2);            

        }
        100% {
            top: 65px;
            left: 65px;
            transform: scale(1);
        }
      }

.login {
    visibility: visible;
}

.animation {
    visibility: visible;
}

.login_join {
    position: fixed;
    display: flex;
    align-items: center;
    top: 60px;
    right: 90px;
}

.login_join a {
    font-weight: 400;
    font-size: 21px;
    margin-right: 20px;
}

.login_btn_join {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    background-color: #2A3647;
    border-radius: 8px;
    border: none;
    height: 51px;
    width: 91px;
    padding: 4px 0px;
    cursor: pointer;
    transition: all 100ms ease-in-out;
}

.login_btn_join:hover {
    background-color: #29ABE2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: all 100ms ease-in-out;
}

.login_arrow_left {
    position: absolute;
    top: 40px;
    left: 40px;
}


html, body {
    width: 100%;  height: 100%;
    margin: 0;    padding: 0;
    background: #F6F7F8;
    overflow: hidden;
  }
  
  .pixelCon {
    position: absolute;
    width: 100%;  height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
  }
  
  .pixel {
    background: rgb(230, 222, 222);
    width: 5%;
    padding-top: 5%;
    float: left;
    opacity: 0.0;
    animation: blink 4500ms infinite;
  }
  
  @keyframes blink {
    0%    {opacity: 0.0;}
    25%   {opacity: 0.0;}
    50%   {opacity: 0.5;}
    100%  {opacity: 0.0;}
  }