@import '../scss/fonts';
@import '../scss/add_task';
@import '../scss/board';
@import '../scss/contacts';
@import '../scss/globals';
@import '../scss/infos';
@import '../scss/login';
@import '../scss/nav_left';
@import '../scss/summary';
@import '../scss/top_bar';

* {
	box-sizing: border-box;
	scroll-behavior: smooth;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}

body {
  margin: 0;
  font-family: 'Inter';
}

#page-container {
  display: none;
}