.task_main {
  background-color: rgba(43, 62, 78, 0.356);
  height: 800px;
  width: 600px;
}
.task_main input {
  border-radius: 10px;
  border: 1px solid rgb(204, 204, 204);
  height: 51px;
  width: 251px;
}
.task_main input::-moz-placeholder {
  text-indent: 20px;
  font-size: 16px;
  font-weight: 100;
  color: rgb(204, 204, 204);
}
.task_main input::placeholder {
  text-indent: 20px;
  font-size: 16px;
  font-weight: 100;
  color: rgb(204, 204, 204);
}

.board_main {
  background-color: rgba(0, 255, 255, 0.404);
  height: 800px;
  width: 100vw;
}

.board_search_bar {
  display: flex;
  width: 500px;
  justify-content: space-between;
  max-height: 55px;
}
.board_search_bar input {
  border-radius: 10px;
  border: 1px solid rgb(204, 204, 204);
  height: 51px;
  width: 251px;
}
.board_search_bar input::-moz-placeholder {
  text-indent: 20px;
  font-size: 16px;
  font-weight: 100;
  color: rgb(204, 204, 204);
}
.board_search_bar input::placeholder {
  text-indent: 20px;
  font-size: 16px;
  font-weight: 100;
  color: rgb(204, 204, 204);
}

.bgColor_supernova {
  background-color: #FFC701;
}

.bgColor_tabasco {
  background-color: #AF1616;
}

.bgColor_weboranget {
  background-color: #FFA800;
}

.bgColor_blazeorange {
  background-color: #FF5C00;
}

.bgColor_malachite {
  background-color: #02CF2F;
}

.bgColor_apple {
  background-color: #4E963D;
}

.bgColor_cyan_aqua {
  background-color: #32DAFF;
}

.bgColor_cerulean {
  background-color: #0190E0;
}

.bgColor_blue_ribbon {
  background-color: #0038FF;
}

.bgColor_java {
  background-color: #1FD7C1;
}

.bgColor_purple_pizzazz {
  background-color: #EE00D6;
}

.bgColor_heliotrope {
  background-color: #FC71FF;
}

.bgColor_electric_violet {
  background-color: #9327FF;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.global_main_format {
  display: flex;
  align-items: baseline;
  justify-content: center;
  padding-top: 170px;
  padding-bottom: 110px;
  padding-left: 200px;
  background-color: #F6F7F9;
  height: 100vh;
  overflow-y: scroll;
  scrollbar-width: auto;
  /* Firefox */
  scrollbar-color: #ffffff #ffffff;
  /* Chrome, Edge, and Safari */
}
.global_main_format::-webkit-scrollbar {
  width: 15px;
}
.global_main_format::-webkit-scrollbar-track {
  background-color: #F6F7F9;
  margin-top: 90px;
}
.global_main_format::-webkit-scrollbar-thumb {
  background-color: #2A3647;
  border-radius: 10px;
  border: 3px solid #F6F7F9;
  margin-top: 90px;
}

.no_sel {
  -moz-user-select: none;
  -webkit-user-select: none;
          user-select: none;
}

.font61-700 {
  font-weight: 700;
  font-size: 61px;
  line-height: 120%;
}

.font47-700 {
  font-weight: 700;
  font-size: 47px;
  line-height: 120%;
}

.font27-700 {
  font-weight: 700;
  font-size: 27px;
  line-height: 120%;
}

.font21-700 {
  font-weight: 700;
  font-size: 21px;
  line-height: 120%;
}

.font16-700 {
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
}

.font16-400 {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
}

.font21-400 {
  font-weight: 400;
  font-size: 21px;
  line-height: 120%;
}

.font27-400 {
  font-weight: 400;
  font-size: 27px;
  line-height: 120%;
}

.txt-cr {
  text-align: center;
}

.txt-left {
  text-align: left;
}

.d-flex {
  display: flex;
}

.fd-col {
  flex-direction: column;
}

.space-bw {
  justify-content: space-between;
}

.jc-left {
  justify-content: left;
}

.jc-right {
  justify-content: right;
}

.jc-center {
  justify-content: center;
}

.ai-left {
  align-items: left;
}

.ai-right {
  align-items: right;
}

.ai-center {
  align-items: center;
}

.pr-90 {
  padding-right: 90px;
}

.pr-20 {
  padding-right: 20px;
}

.pl-25 {
  padding-left: 25px;
}

.pb-25 {
  padding-bottom: 25px;
}

.pt-120 {
  padding-top: 120px;
}

.c-pointer {
  cursor: pointer;
}

.scale-105 {
  transform: scale(100%);
}
.scale-105:active {
  transform: scale(105%);
}

.mb-70 {
  margin-bottom: 70px;
}

.o-flow-x {
  overflow-x: hidden;
}

.wd-100p {
  width: 100%;
}

.mr-20 {
  margin-right: 20px;
}

.ml-20 {
  margin-left: 20px;
}

.ml-40 {
  margin-left: 40px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mt-25 {
  margin-top: 25px;
}

.mr-var {
  margin-right: 100px;
}

.button_dark {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  background-color: #2A3647;
  border-radius: 8px;
  border: none;
  height: 51px;
  padding: 4px 40px;
  cursor: pointer;
  transition: all 100ms ease-in-out;
  white-space: nowrap;
}
.button_dark:hover {
  background-color: #29ABE2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: all 100ms ease-in-out;
}
.button_dark:active {
  background-color: #091931;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.button_bright {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  color: #2A3647;
  background-color: white;
  border-radius: 8px;
  border: 1px solid #2A3647;
  height: 51px;
  padding: 4px 40px;
  cursor: pointer;
  transition: all 100ms ease-in-out;
  white-space: nowrap;
}
.button_bright:hover {
  border: 2px solid #29ABE2;
  color: #29ABE2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: all 100ms ease-in-out;
}
.button_bright:active {
  border: 1px solid black;
  color: #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.pos-rel {
  position: relative;
}

@media (max-width: 600px) {
  .global_main_format {
    padding-left: unset;
    padding-top: unset;
    padding-right: unset;
    padding-bottom: 100px;
  }
  .font61-700 {
    font-size: 47px;
  }
}
.info_main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  width: 615px;
}

.info_text_box {
  padding-right: 20px;
  padding-bottom: 20px;
  display: flex;
}

@media (max-width: 600px) {
  .info_format {
    padding-left: 25px;
    padding-top: 25px;
    padding-bottom: 40px;
  }
  .info_text_box {
    padding-right: 30px;
    padding-bottom: 25px;
    display: flex;
  }
  .info_arrow_space {
    padding-right: 30px;
    position: absolute;
    top: 114px;
    right: 0px;
  }
}
body {
  margin: 0;
  padding: 0;
  background: #f6f7f8;
  overflow: hidden;
}

.login_frame {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  min-width: 100vw;
  min-height: 100vh;
  z-index: 20;
  -moz-user-select: none;
  -webkit-user-select: none;
          user-select: none;
}

.login_access {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
  box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
  background-color: white;
  padding: 35px 100px;
  animation-name: loginAccessOpacity;
  animation-duration: 2800ms;
  z-index: 8;
}

@keyframes loginAccessOpacity {
  0% {
    filter: blur(4px);
    filter: opacity(0%);
    transform: scale(0.5);
  }
  50% {
    filter: blur(4px);
    filter: opacity(0%);
    transform: scale(0.5);
  }
  75% {
    filter: blur(4px);
    filter: opacity(90%);
  }
  100% {
    filter: opacity(100%);
  }
}
.login_btns_dflex {
  display: flex;
  padding-left: 40px;
  padding-right: 40px;
  align-items: center;
  justify-content: space-between;
}

.login_blue_line {
  width: 150px;
  border: 2px solid #29abe2;
  border-radius: 20px;
  margin-top: 30px;
  margin-bottom: 40px;
}

.login_input {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 13px 21px;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  width: 422px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 120%;
  margin-bottom: 40px;
}

.login_input::-moz-placeholder {
  color: #d1d1d1;
}

.login_input::placeholder {
  color: #d1d1d1;
}

.login_access a {
  color: #29abe2;
  font-weight: 400;
  line-height: 120%;
  text-decoration: none;
}

.link_forgot {
  color: #29abe2;
  font-weight: 400;
  line-height: 120%;
  text-decoration: none;
  transition: all 225ms ease-in-out;
}
.link_forgot:hover {
  filter: brightness(130%);
  transition: all 225ms ease-in-out;
}

.login_secure_png {
  position: absolute;
  top: 107px;
  right: 25px;
}

.login_mail_png {
  position: absolute;
  top: 17px;
  right: 25px;
}

.login_pos_rel {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign_name_png {
  position: absolute;
  top: 16px;
  right: 25px;
}

.sign_secure_png {
  position: absolute;
  top: 203px;
  right: 25px;
}

.sign_mail_png {
  position: absolute;
  top: 110px;
  right: 25px;
}

[type=checkbox] + label {
  margin-right: 30px;
}

[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}

[type=checkbox] + label::before {
  width: 18px;
  height: 18px;
  background-image: url("../img/unchecked.png");
  content: "";
  float: left;
  margin-right: 15px;
}

[type=checkbox]:checked + label::before {
  background-image: url("../img/checked.png");
}

.login_forgot {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  margin-bottom: 40px;
}

.btn_dark {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  background-color: #2a3647;
  border-radius: 8px;
  border: none;
  height: 51px;
  padding: 4px 40px;
  cursor: pointer;
  transition: all 100ms ease-in-out;
}

.btn_dark:hover {
  background-color: #29abe2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: all 100ms ease-in-out;
}

.btn_dark:active {
  background-color: #091931;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn_bright {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  color: #2a3647;
  background-color: white;
  border-radius: 8px;
  border: 1px solid #2a3647;
  height: 51px;
  width: auto;
  padding: 4px 16px;
  cursor: pointer;
  transition: all 100ms ease-in-out;
}

.btn_bright:hover {
  border: 1px solid #29abe2;
  color: #29abe2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: all 100ms ease-in-out;
}

.btn_bright:active {
  border: 1px solid black;
  color: #000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.login_logo_animation {
  position: fixed;
  width: 102px;
  height: 122px;
  top: 65px;
  left: 65px;
  z-index: 21;
  animation-name: logoSlideSmaller;
  animation-duration: 2500ms;
  animation-direction: normal;
}

@keyframes logoSlideSmaller {
  0% {
    top: 40%;
    left: 45%;
    filter: opacity(0%);
    transform: scale(2);
  }
  50% {
    top: 40%;
    left: 45%;
    filter: opacity(100%);
    transform: scale(2);
  }
  100% {
    top: 65px;
    left: 65px;
    transform: scale(1);
  }
}
.login {
  visibility: visible;
}

.animation {
  visibility: visible;
}

.login_join {
  position: fixed;
  display: flex;
  align-items: center;
  top: 60px;
  right: 90px;
  animation-name: slideSignUp;
  animation-duration: 4000ms;
}

@keyframes slideSignUp {
  0% {
    filter: opacity(0%);
    top: 60px;
    right: -90px;
  }
  70% {
    filter: opacity(0%);
  }
  100% {
    filter: opacity(100%);
  }
}
.login_join a {
  font-weight: 400;
  font-size: 21px;
  margin-right: 20px;
}

.login_btn_join {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  background-color: #2a3647;
  border-radius: 8px;
  border: none;
  height: 51px;
  width: 91px;
  padding: 4px 0px;
  cursor: pointer;
  transition: all 100ms ease-in-out;
}

.login_btn_join:hover {
  background-color: #29abe2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: all 100ms ease-in-out;
}

.login_arrow_left {
  position: absolute;
  top: 40px;
  left: 40px;
}

.login_hidden_mobile {
  display: none;
}

@media (max-width: 1024px) {
  .pixel {
    width: 9%;
    padding-top: 9%;
  }
  body {
    -ms-overflow-style: none;
    scrollbar-width: none;
    /* for Internet Explorer, Edge */
    overflow-y: scroll;
    /* for Firefox */
  }
  body::-webkit-scrollbar {
    display: none;
    /* for Chrome, Safari, and Opera */
  }
}
@media (max-width: 600px) {
  .login_hidden_mobile {
    position: fixed;
    width: 102px;
    height: 122px;
    top: 40%;
    left: 40%;
    transform: scale(1.2);
    z-index: 21;
    display: block;
    animation-name: logo-fade;
    animation-duration: 1300ms;
    filter: opacity(0%);
    z-index: 7;
  }
  @keyframes logo-fade {
    100% {
      filter: opacity(100%);
    }
  }
  html,
  body {
    background: #d1d1d1;
    animation-name: bg-color-fade;
    animation-duration: 1600ms;
  }
  @keyframes bg-color-fade {
    0% {
      background: #2a3647;
    }
    80% {
      background: #2a3647;
    }
    100% {
      background: #d1d1d1;
    }
  }
  .pixel {
    width: 12%;
    padding-top: 12%;
  }
  .login_access {
    padding: 35px 20px 20px 20px;
    transform: scale(80%);
  }
  .login_btns_dflex {
    flex-direction: column;
    width: unset;
    justify-content: center;
  }
  .btn_dark {
    width: 180px;
    padding: 4px 0px 4px 0px;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  .btn_bright {
    width: 180px;
    padding: 4px 0px 4px 0px;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  .login_logo_animation {
    position: fixed;
    width: 102px;
    height: 122px;
    top: 0px;
    left: 0px;
    transform: scale(60%);
    z-index: 21;
    animation-name: logoSlideSmaller;
    animation-duration: 2500ms;
    animation-direction: normal;
    z-index: 6;
  }
  @keyframes logoSlideSmaller {
    0% {
      top: 40%;
      left: 40%;
      filter: opacity(0%);
      transform: scale(1.2);
    }
    50% {
      top: 40%;
      left: 40%;
      filter: opacity(100%);
      transform: scale(1.2);
    }
    100% {
      top: 0px;
      left: 0px;
      transform: scale(60%);
    }
  }
  .login_join {
    position: fixed;
    display: flex;
    align-items: center;
    top: unset;
    right: unset;
    left: 50% 50%;
    bottom: -90px;
    animation-name: slideSignUp;
    animation-duration: 4000ms;
  }
  @keyframes slideSignUp {
    0% {
      filter: opacity(0%);
    }
    70% {
      filter: opacity(0%);
    }
    100% {
      filter: opacity(100%);
    }
  }
  .login_forgot {
    display: flex;
    flex-direction: column-reverse;
    align-items: unset;
    justify-content: left;
    font-size: 16px;
    margin-bottom: 40px;
  }
  .login_forgot a {
    margin-bottom: 40px;
  }
  .login_input {
    margin-bottom: 60px;
  }
  .login_secure_png {
    top: 127px;
  }
  .sign_mail_png {
    top: 130px;
  }
  .sign_secure_png {
    top: 240px;
  }
}
@media (max-width: 375px) {
  .login_access {
    transform: scale(75%);
  }
}
@media (max-height: 667px) {
  .login_join {
    bottom: -400px;
    right: unset;
    transform: scale(70%);
  }
}
@media (max-height: 512px) {
  .login_join {
    bottom: -400px;
    right: unset;
    transform: scale(70%);
  }
  .login_access {
    transform: scale(50%);
  }
}
@media (max-width: 280px) and (min-height: 653px) {
  .login_access {
    transform: scale(53%);
  }
}
@media (max-height: 667px) and (min-width: 375px) {
  .login_access {
    transform: scale(73%);
  }
}
@media (width: 1024px) and (height: 600px) {
  .login_access {
    transform: scale(95%);
  }
  .login_join {
    top: -50px;
    right: -240px;
    transform: scale(80%);
  }
}
.navigation_left {
  display: flex;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  width: 160px;
  margin-left: 20px;
  height: 100vh;
  -moz-user-select: none;
  -webkit-user-select: none;
          user-select: none;
  z-index: 8;
}

.nav_btn {
  display: flex;
  float: right;
  color: #091931;
  cursor: pointer;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 46px;
  transition: all 125ms ease-in-out;
}

.nav_btn:hover {
  background-color: rgba(104, 164, 232, 0.25);
  transition: all 125ms ease-in-out;
  border-radius: 10px;
  color: #091931;
}

.nav_btn a {
  width: 80px;
}

.nav_btn_picked {
  display: flex;
  float: right;
  cursor: pointer;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 46px;
  background-color: #2F3449;
  border-radius: 10px;
  color: white;
  filter: brightness(105%);
  transition: all 125ms ease-in-out;
}

.nav_btn_picked a {
  width: 80px;
}

.nav_btn_picked img {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-right: 20px;
  height: 20px;
  filter: brightness(100%);
}

.nav_btn img {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-right: 20px;
  height: 20px;
  filter: brightness(40%);
}

.nav_menu_box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: 220px;
  margin-top: 175px;
}

.nav_menu_box_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 105px;
  min-height: 105px;
  margin-bottom: 80px;
  margin-top: 20px;
}

/* navigation for mobile devices */
.navigation_mobile {
  display: block;
  visibility: hidden;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 80px;
  background-color: #2a3647;
  z-index: 13;
  -moz-user-select: none;
  -webkit-user-select: none;
          user-select: none;
  font-size: 15px;
  font-weight: 300;
  white-space: nowrap;
}

.nav_frame_mobile {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.nav_btns_mobile {
  color: #cdcdcd;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 14px;
  cursor: pointer;
}

.nav_btns_mobile_picked {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 14px;
  cursor: pointer;
  background-color: #091931;
}

.nav_btns_mobile img {
  width: 22px;
  height: 22px;
  margin-bottom: 10px;
  filter: opacity(70%);
}

.nav_btns_mobile_picked img {
  width: 22px;
  height: 22px;
  margin-bottom: 10px;
  filter: opacity(105%);
}

@media (max-width: 600px) {
  .navigation_left {
    display: none;
  }
  .navigation_mobile {
    visibility: visible;
  }
}
.sum_title {
  font-weight: 700;
  font-size: 61px;
  line-height: 120%;
  margin-right: 70px;
  margin-bottom: 70px;
}

.sum_dflex {
  display: flex;
  align-items: center;
}

.sum_subtitle {
  position: absolute;
  left: 700px;
  top: 171.5px;
  height: 59px;
  border-left: 3px solid;
  border-left-color: #29ABE2;
  font-size: 24px;
  padding-left: 25px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  margin-bottom: 70px;
  background-color: #F6F7F9;
  animation-name: slide;
  animation-duration: 2000ms;
  animation-direction: normal;
}

.sum_main_child {
  -moz-user-select: none;
  -webkit-user-select: none;
          user-select: none;
  background-color: rgba(41, 170, 226, 0.2745098039);
}

.sum_frame_squares {
  display: flex;
}

.sum_squares {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 25px 0px;
  width: 170px;
  height: 170px;
  min-width: 170px;
  min-height: 170px;
  background-color: white;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  margin-left: 17.5px;
  margin-right: 17.5px;
  margin-bottom: 35px;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  cursor: pointer;
  transition: all 100ms ease-in-out;
}
.sum_squares:hover {
  background-color: #2A3647;
  color: white;
  transform: scale(110%);
  transition: all 100ms ease-in-out;
}
.sum_squares:active {
  transform: scale(1);
}

.sum_middle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 17.5px;
  margin-right: 17.5px;
  width: 580px;
  height: 150px;
  background: #FFFFFF;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  margin-bottom: 35px;
  cursor: pointer;
}
.sum_middle:hover {
  background-color: #2A3647;
  color: white;
  transform: scale(105%);
  transition: all 100ms ease-in-out;
}
.sum_middle:active {
  transform: scale(1);
}

.sum_frame_urgent {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 2px solid #D1D1D1;
  height: 102px;
  width: 200px;
  text-align: center;
  padding-right: 25px;
  margin-right: 50px;
}
.sum_frame_urgent img {
  margin-right: 30px;
}

.sum_frame_deadline {
  display: flex;
  flex-direction: column;
  height: 102px;
  justify-content: center;
  width: 230px;
}
.sum_frame_deadline span {
  font-weight: 700;
  font-size: 21px;
  margin-bottom: 5px;
}
.sum_frame_deadline a {
  font-weight: 400;
  font-size: 16px;
  margin-top: 5px;
}

.sum_bottom_todo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 17.5px;
  margin-right: 17.5px;
  gap: 30px;
  width: 272.5px;
  min-width: 272.5px;
  height: 150px;
  background: #FFFFFF;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  text-align: center;
  cursor: pointer;
}
.sum_bottom_todo:hover {
  background-color: #2A3647;
  color: white;
  transform: scale(110%);
  transition: all 100ms ease-in-out;
}
.sum_bottom_todo:active {
  transform: scale(1);
}

.sum_bottom_done {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 17.5px;
  margin-right: 17.5px;
  gap: 30px;
  width: 272.5px;
  min-width: 272.5px;
  height: 150px;
  background: #FFFFFF;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  text-align: center;
  cursor: pointer;
}
.sum_bottom_done:hover {
  background-color: #2A3647;
  color: white;
  transform: scale(1.1);
  transition: all 100ms ease-in-out;
}
.sum_bottom_done:active {
  transform: scale(1);
}

.sum_daytime {
  font-weight: 500;
  font-size: 47px;
  color: #2A3647;
}

.sum_user {
  font-weight: 700;
  font-size: 64px;
  color: #29ABE2;
}

.sum_greeting {
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sum_mobile_subtitle {
  display: none;
  padding-left: 25px;
}

.sum_mobile_top_text {
  display: none;
  padding-top: 115px;
  padding-left: 25px;
}

.sum_blue_line_mobile {
  display: none;
  width: 90px;
  border-bottom: solid 3px #29ABE2;
  margin-left: 25px;
  padding-top: 35px;
}

.sum_greeting_mobile {
  display: none;
}

.sum_daytime_mobile {
  font-weight: 500;
  font-size: 47px;
  color: #2A3647;
}

.sum_user_mobile {
  font-weight: 700;
  font-size: 64px;
  color: #29ABE2;
}

@media (max-width: 600px) {
  .sum_main {
    padding-top: 0px;
  }
  .sum_subtitle {
    display: none;
  }
  .sum_title {
    padding-top: 20px;
    padding-left: 25px;
    font-size: 47px;
    font-weight: 700;
    margin-bottom: 25px;
  }
  .sum_main_child {
    padding-top: 60px;
    transform-origin: top;
    justify-content: center;
    padding-left: 25px;
    zoom: 66%;
  }
  .sum_greeting {
    display: none;
  }
  .sum_mobile_subtitle {
    display: block;
  }
  .sum_mobile_top_text {
    display: block;
  }
  .sum_blue_line_mobile {
    display: block;
  }
  .sum_greeting_mobile {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: #F6F7F9;
    -moz-user-select: none;
    -webkit-user-select: none;
            user-select: none;
    animation-name: fade;
    animation-duration: 3s;
    animation-direction: normal;
    visibility: hidden;
  }
  @keyframes fade {
    0% {
      visibility: visible;
    }
    100% {
      visibility: hidden;
    }
  }
}
.nav_top_bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  height: 89px;
  min-width: 100vw;
  background-color: #2F3449;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  z-index: 8;
  -moz-user-select: none;
  -webkit-user-select: none;
          user-select: none;
  color: white;
}
.nav_top_bar span {
  display: flex;
  font-size: 19px;
  font-weight: 200;
  padding: 20px 0px 20px 300px;
  white-space: nowrap;
}

.nav_top_bar_right {
  display: flex;
  align-items: center;
  padding-right: 30px;
}

.nav_top_bar_icon {
  padding-right: 25px;
  padding-left: 25px;
  cursor: pointer;
  filter: brightness(150%);
}
.nav_top_bar_icon:hover {
  filter: brightness(80%);
}
.nav_top_bar_icon:active {
  transform: scale(0.9);
}

.nav_top_bar_profile {
  height: 42px;
  border: solid 3px #FFFFFF;
  border-radius: 100%;
}

.nav_top_bar_profile_border {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 3px #2A3647;
  border-radius: 100%;
  cursor: pointer;
}
.nav_top_bar_profile_border:hover {
  border: solid 3px #67A3E8;
}

.nav_top_bar_profile_border_mobile {
  display: none;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  border: solid 2px #2A3647;
  height: 37px;
  width: 37px;
  cursor: pointer;
}

.nav_logout {
  display: none;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  top: 89px;
  right: 30px;
  background-color: #2A3647;
  padding: 15px;
  padding-right: 35px;
  padding-left: 40px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px 0px 20px 20px;
  color: #CDCDCD;
  cursor: pointer;
  text-decoration: none;
}
.nav_logout:hover {
  color: white;
  background-color: #29ABE2;
}

.nav_logout_mobile {
  display: none;
  font-size: 16px;
  font-weight: 400;
  flex-direction: column;
  position: absolute;
  top: 79px;
  right: 30px;
  background-color: #2A3647;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px 0px 20px 20px;
  cursor: pointer;
}
.nav_logout_mobile a {
  color: #CDCDCD;
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 25px;
  padding-left: 25px;
  border-radius: 20px 0px 20px 20px;
}
.nav_logout_mobile a:hover {
  color: white;
  background-color: #29ABE2;
}
.nav_logout_mobile a:active {
  color: white;
}

.nav_top_bar_logo {
  display: flex;
  width: 40px;
  margin-left: 40px;
  cursor: pointer;
}

@media (max-width: 600px) {
  .nav_top_bar {
    justify-content: space-between;
    height: 79px;
  }
  .nav_top_bar span {
    display: none;
  }
  .nav_top_bar_icon {
    display: none;
  }
  .nav_top_bar_profile_border {
    display: none;
  }
  .nav_top_bar_profile_border_mobile {
    display: block;
  }
  .nav_top_bar_profile {
    height: 33px;
    border: solid 1px #FFFFFF;
    border-radius: 100%;
  }
  .mobile_logo_hidden {
    display: block;
  }
}
/* inter-100 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/inter-v12-latin-100.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/inter-v12-latin-100.eot?#iefix") format("embedded-opentype"), url("../fonts/inter-v12-latin-100.woff2") format("woff2"), url("../fonts/inter-v12-latin-100.woff") format("woff"), url("../fonts/inter-v12-latin-100.ttf") format("truetype"), url("../fonts/inter-v12-latin-100.svg#Inter") format("svg"); /* Legacy iOS */
}
/* inter-200 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/inter-v12-latin-200.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/inter-v12-latin-200.eot?#iefix") format("embedded-opentype"), url("../fonts/inter-v12-latin-200.woff2") format("woff2"), url("../fonts/inter-v12-latin-200.woff") format("woff"), url("../fonts/inter-v12-latin-200.ttf") format("truetype"), url("../fonts/inter-v12-latin-200.svg#Inter") format("svg"); /* Legacy iOS */
}
/* inter-300 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/inter-v12-latin-300.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/inter-v12-latin-300.eot?#iefix") format("embedded-opentype"), url("../fonts/inter-v12-latin-300.woff2") format("woff2"), url("../fonts/inter-v12-latin-300.woff") format("woff"), url("../fonts/inter-v12-latin-300.ttf") format("truetype"), url("../fonts/inter-v12-latin-300.svg#Inter") format("svg"); /* Legacy iOS */
}
/* inter-regular - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-v12-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/inter-v12-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/inter-v12-latin-regular.woff2") format("woff2"), url("../fonts/inter-v12-latin-regular.woff") format("woff"), url("../fonts/inter-v12-latin-regular.ttf") format("truetype"), url("../fonts/inter-v12-latin-regular.svg#Inter") format("svg"); /* Legacy iOS */
}
/* inter-500 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/inter-v12-latin-500.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/inter-v12-latin-500.eot?#iefix") format("embedded-opentype"), url("../fonts/inter-v12-latin-500.woff2") format("woff2"), url("../fonts/inter-v12-latin-500.woff") format("woff"), url("../fonts/inter-v12-latin-500.ttf") format("truetype"), url("../fonts/inter-v12-latin-500.svg#Inter") format("svg"); /* Legacy iOS */
}
/* inter-600 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/inter-v12-latin-600.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/inter-v12-latin-600.eot?#iefix") format("embedded-opentype"), url("../fonts/inter-v12-latin-600.woff2") format("woff2"), url("../fonts/inter-v12-latin-600.woff") format("woff"), url("../fonts/inter-v12-latin-600.ttf") format("truetype"), url("../fonts/inter-v12-latin-600.svg#Inter") format("svg"); /* Legacy iOS */
}
/* inter-700 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-v12-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/inter-v12-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/inter-v12-latin-700.woff2") format("woff2"), url("../fonts/inter-v12-latin-700.woff") format("woff"), url("../fonts/inter-v12-latin-700.ttf") format("truetype"), url("../fonts/inter-v12-latin-700.svg#Inter") format("svg"); /* Legacy iOS */
}
/* inter-800 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/inter-v12-latin-800.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/inter-v12-latin-800.eot?#iefix") format("embedded-opentype"), url("../fonts/inter-v12-latin-800.woff2") format("woff2"), url("../fonts/inter-v12-latin-800.woff") format("woff"), url("../fonts/inter-v12-latin-800.ttf") format("truetype"), url("../fonts/inter-v12-latin-800.svg#Inter") format("svg"); /* Legacy iOS */
}
/* inter-900 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-v12-latin-900.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/inter-v12-latin-900.eot?#iefix") format("embedded-opentype"), url("../fonts/inter-v12-latin-900.woff2") format("woff2"), url("../fonts/inter-v12-latin-900.woff") format("woff"), url("../fonts/inter-v12-latin-900.ttf") format("truetype"), url("../fonts/inter-v12-latin-900.svg#Inter") format("svg"); /* Legacy iOS */
}
body {
  margin: 0;
  scroll-behavior: smooth;
  font-family: "Inter";
}/*# sourceMappingURL=main.css.map */