.navigation_left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #2A3647;
    width: 232px;
    height: 100vh;
}

.nav_logo {
    width: 100px;
    margin-top: 66px;
}

.nav_btn {
    display: flex;
    float: right;
    color: #CDCDCD;
    cursor: pointer;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 46px;
    transition: all 125ms ease-in-out;
}

.nav_btn:hover  {
    background-color: hsla(212, 74%, 66%, 0.25);
    transition: all 125ms ease-in-out;
}

.nav_btn a {
    width: 80px;
}

.nav_btn_picked {
    display: flex;
    float: right;
    cursor: pointer;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 46px;
    background-color: #091931;
    color: white;
    filter: brightness(105%);
    transition: all 125ms ease-in-out;
}

.nav_btn_picked a {
    width: 80px;
}

.nav_btn_picked img {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-right: 20px;
    height: 20px;
    filter: brightness(105%);
}

.nav_btn img {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-right: 20px;
    height: 20px;
    filter: brightness(80%);
}

.nav_menu_box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    min-height: 220px;
}

.nav_menu_box_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 105px;
    min-height: 105px;
    margin-bottom: 120px;
    margin-top: 120px;
}