.sum_main {
    padding-top: 160px;
    padding-left: 115px;
    padding-right: 20px;
    background-color: #F6F7F9;
    width: calc(100vw - 232px);
    height: 100vh;
}

.sum_title {
    font-weight: 700;
    font-size: 61px;
    line-height: 120%;
    margin-right: 70px;
}

.sum_dflex {
    display: flex;
    align-items: center;
}

.sum_subtitle {
    height: 59px;
    border-left: 3px solid;
    border-left-color: #29ABE2;
    font-size: 27px;
    padding-left: 25px;
    display: flex;
    align-items: center;
}

.sum_frame_squares {
    display: flex;
    padding-top: 70px;
}

.sum_squares {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px 0px;
    gap: 13px;
    width: 170px;
    height: 170px;
    min-width: 170px;
    min-height: 170px;
    background-color: white;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    margin-right: 35px;
    font-size: 64px;
    cursor: pointer;
    transition: all 100ms ease-in-out;
}

.sum_squares:hover {
    background-color: #2A3647;
    color: white;
    transform: scale(1.1);
    transition: all 100ms ease-in-out;

}

.sum_squares a {
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;    
    color: #2A3647;
}