.nav_top_bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    height: 89px;
    min-width: 100vw;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    z-index: 8;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.nav_top_bar span {
    display: flex;
    font-size: 21px;
    font-weight: 400;
    padding: 20px 0px 20px 300px;
    white-space: nowrap;
}

.nav_top_bar_right {
    display: flex;
    align-items: center;
    padding-right: 30px;
}

.nav_top_bar_icon {
    padding-right: 25px;
    padding-left: 25px;
    cursor: pointer;
}

.nav_top_bar_icon:hover {
    filter: invert(1);
}

.nav_top_bar_icon:active {
    transform: scale(105%);
}

.nav_top_bar_profile {
    height: 42px;
    border: solid 1px #FFFFFF;
    border-radius: 100%;
}

.nav_top_bar_profile_border {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 3px #2A3647;
    border-radius: 100%;
    cursor: pointer;
}

.nav_top_bar_profile_border_mobile {
    display: none;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    border: solid 2px #2A3647;
    height: 37px;
    width: 37px;
    cursor: pointer;
}

.nav_top_bar_profile_border:hover {
    border: solid 3px #67A3E8;
}

.nav_logout {
    display: none;
    font-size: 16px;
    font-weight: 400;
    position: absolute;
    top: 89px;
    right: 30px;
    background-color: #2A3647;
    padding: 15px;
    padding-right: 35px;
    padding-left: 40px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px 0px 20px 20px;
    color: #CDCDCD;
    cursor: pointer;
    text-decoration: none;
}

.nav_logout_mobile {
    display: none;    
    font-size: 16px;
    font-weight: 400;
    flex-direction: column;
    position: absolute;
    top: 79px;
    right: 30px;
    background-color: #2A3647;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px 0px 20px 20px;
    cursor: pointer;
}

.nav_logout_mobile a {
    color: #CDCDCD;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 25px;
    padding-left: 25px;
    border-radius: 20px 0px 20px 20px;
}

.nav_logout_mobile a:hover {
    color: white;
    background-color: #29ABE2;
}

.nav_logout_mobile a:active {
    color: white;
}

.nav_logout:hover {
    color: white;
    background-color: #29ABE2;
}

.mobile_logo_hidden {
    display: none;
    width: 32px;
    margin-left: 25px;
    cursor: pointer;
}

@media (max-width: 600px) {
    .nav_top_bar span {
        display: none;
    }

    .nav_top_bar_icon {
        display: none;
    }

    .nav_top_bar {
        justify-content: space-between;
        height: 79px;
    }

    .nav_top_bar_profile_border {
        display: none;
    }

    .nav_top_bar_profile_border_mobile {
        display: block;
    }

    .nav_top_bar_profile {
        height: 33px;
        border: solid 1px #FFFFFF;
        border-radius: 100%;
    }

    .mobile_logo_hidden {
        display: block;
    }
}