.info_main {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: left;
	max-width: 615px;
}

.info_text_box {
	padding-right: 20px;
	padding-bottom: 20px;
	display: flex;
}

@media (max-width: 600px) {

	.info_format {
		padding-left: 20px;
		padding-top: 20px;
		padding-bottom: 100px;

		span {
			font-size: 32px;
			padding-right: 50px;
		}
	}

	.info_text_box {
		padding-right: 50px;

	}

	.info_arrow_space {
		padding-right: 30px;
		position: absolute;
		top: 98px;
		right: 0px;
	}
}