.navigation_left {
  display: flex;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  width: 200px;
  padding-left: 20px;
  padding-right: 20px;
  height: 100vh;
  z-index: 8;
  background-color: #F6F7F9;
}

.nav_btn {
  display: flex;
  float: right;
  color: #091931;
  cursor: pointer;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 46px;
  transition: all 125ms ease-in-out;
}

.nav_btn:hover {
  background-color: rgba(104, 164, 232, 0.25);
  transition: all 125ms ease-in-out;
  border-radius: 10px;
  color: #091931;
}

.nav_btn a {
  width: 80px;
}

.nav_btn_picked {
  display: flex;
  float: right;
  cursor: pointer;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 46px;
  background-color: #2F3449;
  border-radius: 10px;
  color: white;
  filter: brightness(105%);
  transition: all 125ms ease-in-out;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);

  img {
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: left;
    margin-right: 20px;
    filter: brightness(100%);
  }

  a {
    width: 80px;
  }
}

.nav_btn img {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-right: 20px;
  height: 20px;
  filter: brightness(40%);
}

.nav_menu_box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: 220px;
  margin-top: 175px;
}

.nav_menu_box_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 105px;
  min-height: 105px;
  margin-bottom: 120px;
  margin-top: 20px;
}

.navigation_mobile { /* navigation for mobile devices */
  display: block;
  visibility: hidden;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 80px;
  background-color: #2a3647;
  z-index: 13;
  font-size: 15px;
  font-weight: 300;
  white-space: nowrap;
}

.nav_frame_mobile {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.nav_btns_mobile {
  color: #cdcdcd;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.nav_btns_mobile_picked {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  background-color: #091931;
  border-radius:  0px 0px 10px 10px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
}

.nav_btns_mobile img {
  width: 22px;
  height: 22px;
  margin-bottom: 8px;
  filter: opacity(70%);
}

.nav_btns_mobile_picked img {
  width: 22px;
  height: 22px;
  margin-bottom: 8px;
  filter: opacity(105%);
}

@media (max-width: 600px) {
  .navigation_left {
    display: none;
  }

  .navigation_mobile {
    visibility: visible;
  }
}