.sum_title {
    font-weight: 700;
    font-size: 61px;
    line-height: 120%;
    margin-right: 70px;
    margin-bottom: 70px;
}

.sum_dflex {
    display: flex;
    align-items: center;
}

.sum_subtitle {
    position: absolute;
    left: 700px;
    top: 171.5px;
    height: 59px;
    border-left: 3px solid;
    border-left-color: #29abe2;
    font-size: 24px;
    padding-left: 25px;
    display: flex;
    align-items: center;
    white-space: nowrap;
    margin-bottom: 70px;
    background-color: #f6f7f9;
    animation-name: slide;
    animation-duration: 2000ms;
    animation-direction: normal;
}

.sum_frame_squares {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 800px;
    gap: 25px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
}

.sum_squares {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 25px 0px;
    width: 170px;
    height: 170px;
    min-width: 170px;
    min-height: 170px;
    background-color: white;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    font-size: 47px;
    font-weight: 700;
    cursor: pointer;
    transition: all 100ms ease-in-out;

    div {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    a {
        margin-left: 10px;
    }

    span {
        font-size: 21px;
        font-weight: 400;
        width: 140px;
    }

    &:hover {
        background-color: #29abe2;
        color: white;
        transform: scale(1.05);
        transition: all 100ms ease-in-out;
    }

    &:active {
        transform: scale(1);
    }

    img {
        height: 32px;
        transition: all 100ms ease-in-out;
    }

    &:hover img {
        filter: invert(1);
        transition: all 100ms ease-in-out;
    }
}

.sum_middle {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 560px;
    width: 100%;
    height: 170px;
    background: #ffffff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    cursor: pointer;

    &:hover {
        background-color: #29abe2;
        color: white;
        transform: scale(1.02);
        transition: all 100ms ease-in-out;
    }

    &:active {
        transform: scale(1);
    }
}

.sum_frame_urgent {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #ebe1e1;
    height: 102px;
    text-align: center;
    padding-right: 25px;
    margin-right: 50px;
    padding-left: 20px;

    div {
        margin-left: 20px;
        margin-right: 20px;
    }

    #sum_urgent {
        font-size: 47px;
        font-weight: 700;
    }

    img {
        border-radius: 50%;
        border: 3px solid white;
    }
}

.sum_frame_deadline {
    display: flex;
    flex-direction: column;
    height: 102px;
    justify-content: center;
    padding-right: 20px;

    span {
        font-weight: 700;
        font-size: 21px;
        margin-bottom: 5px;
    }

    a {
        font-weight: 400;
        font-size: 16px;
        margin-top: 5px;
    }
}

.sum_daytime {
    font-weight: 500;
    font-size: 42px;
    color: #2a3647;
}

.sum_user {
    font-weight: 700;
    font-size: 52px;
    color: #29abe2;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.sum_greeting {
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 520px;
    width: 100%;
    overflow: hidden;
}

.sum_mobile_subtitle {
    display: none;
    padding-left: 25px;
}

.sum_blue_line_mobile {
    display: none;
    width: 90px;
    border-bottom: solid 3px #29abe2;
    margin-left: 25px;
    padding-top: 35px;
}

.sum_greeting_mobile {
    display: none;
}

.sum_daytime_mobile {
    font-weight: 500;
    font-size: 47px;
    color: #2a3647;
}

.sum_user_mobile {
    font-weight: 700;
    font-size: 64px;
    color: #29abe2;
}

.chat_gpt_answer {
    display: flex;
    visibility: hidden;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: white;
    padding-top: 60px;
    padding-bottom: 10px;
    border-radius: 20px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
    bottom: 100px;
    width: 100%;
    height: calc(100% - 100px);
    max-width: 760px;
    margin-right: 20px;
    margin-left: 20px;
    z-index: 99;
    textarea {
        position: relative;
        border-radius: 20px;
        width: 100%;
        min-width: 100%;
        height: 100%;
        max-height: 100%;
        min-height: 100%;
        padding: 20px;
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        border: 0;
        background-color: transparent;
        margin-right: 10px;

        &::placeholder {
            color: rgb(204, 204, 204);
        }

        &:focus-visible {
            outline: 0px solid #29abe2;
        }

        overflow-y: scroll;
        scrollbar-width: auto;
     
        /* Firefox */
        scrollbar-color: #ffffff #ffffff;
      
          /* Chrome, Edge, and Safari */
        &::-webkit-scrollbar {
          width: 10px;
        }
      
        &::-webkit-scrollbar-track {
          background-color: #ffffff;
          margin-top: 10px;
          margin-bottom: 10px;
        }
      
        &::-webkit-scrollbar-thumb {
          background-color: #2a36472c;
          border-radius: 10px;
          border: 3px solid white;
        }
    }
    .loading_gif {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 70px;
        max-width: 70px;
        min-width: 50px;
        visibility: hidden;
        border-radius: 20px;
    }
    .hide_chat_gpt_answer_btn {
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
    }
}

.chat_gpt {
    display: flex;
    position: relative;
    width: 100%;
    max-width: 560px;
    margin-top: 100px;

    input {
        border-radius: 10px;
        border: 0;
        height: 50px;
        width: 100%;
        padding: 20px;
        font-family: "Inter";
        font-style: normal;
        font-weight: 600;
        font-size: 21px;
        padding-right: 50px;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);

        &::placeholder {
            color: rgb(204, 204, 204);
        }

        &:focus-visible {
            outline: 1px solid #29abe2;
        }
    }
    button {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        width: 40px;
        position: absolute;
        right: 5px;
        bottom: 5px;
        border: 0;
        background-color: transparent;
        cursor: pointer;
        transition: all 100ms ease-in-out;
        border-radius: 10px;
        background-color: #eff2f5;

        &:hover {
            background-color: #29abe2;
            height: 40px;
            transition: all 100ms ease-in-out;
        }

        &:active {
            transform: scale(0.9);
        }

        &:hover img {
            filter: invert(1);
            transition: all 100ms ease-in-out;
        }

        img {
            width: 16px;
            height: 16px;
        }
    }
}

.promt_to_answer {
    color: #29abe2;
}

@media only screen and (max-width: 600px) {
    .sum_middle {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 110px;
        border-radius: 10px;
    }

    .sum_squares {
        min-width: unset;
        min-height: unset;
        height: 70px;
        width: 100%;
        flex-direction: row;
        margin-right: unset;
        margin-left: unset;
        text-align: unset;
        justify-content: space-around;
        border-radius: 10px;
        a {
            font-size: 35px;
            padding-right: 30px;
            border-right: 1px solid #ebe1e1;
        }
        span {
            font-size: 16px;
            text-align: left;
            width: 145px;
        }
        img {
            margin-right: 10px;
        }
    }

    .sum_frame_squares {
        margin-top: 20px;
        max-width: 100%;
        gap: 15px;
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 100px;
    }

    .sum_frame_deadline {
        margin-left: 5px;
        span {
            font-size: 16px;
        }
    }

    .sum_frame_urgent {
        height: unset;
        width: unset;
        padding-right: 10px;
        margin-right: 10px;

        div {
            margin-right: 5px;
            margin-left: 5px;
        }

        img {
            margin-right: unset;
            width: 40px;
        }

        #sum_urgent {
            font-size: 30px;
        }
    }

    .sum_greeting {
        margin-bottom: 0;
        font-size: 42px;
    }

    .sum_blue_line_mobile {
        display: block;
    }

    .sum_user {
        font-size: 28px;
    }
}
