/* inter-regular - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/inter-v12-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('./fonts/inter-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./fonts/inter-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/inter-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('./fonts/inter-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./fonts/inter-v12-latin-regular.svg#Inter') format('svg'); /* Legacy iOS */
}

body {
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Inter';
    width: 100vw;
}

.main {
    display: flex;
    width: 100vw;
}

@media (max-width: 414px) {
     
body {
    -ms-overflow-style: none;   
    scrollbar-width: none; /* for Internet Explorer, Edge */
    overflow-y: scroll; /* for Firefox */
}
        
body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}
}